.meus-agendamentos_campo {
    background-color: var(--cor-texto-claro);
    padding: 8px;
    box-shadow: 0px 0px 4px 0px var(--cor-cinza);
    display: flex;
    align-items: center;
    flex-direction: column;
}